@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  body {
    background-color: #1a202c; /* Set a background color */
  }
  
  .spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 8px solid #fff;
    width: 60px;
    height: 60px;
    animation: spinner 1.5s linear infinite;
    margin: 0 auto;
  }
  .spinner1 {
    
    margin: 100px auto;
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 8px solid #fff;
    width: 60px;
    height: 60px;
    animation: spinner 1.5s linear infinite;
  }